*{margin:0;padding:0;}

.button{
	text-decoration:none;
	margin:200px;
	display:block;
}
.content{
	color:red;		
	background:#ddd;
	padding:10px 20px;
	position:relative;
	z-index:5;
	overflow:hidden;
	display:inline-block;
}
.content:before{
	content:"";
	background:green;
	width:50%;
	height:100%;
	position:absolute;
	top:0;
	left:-50%;
	z-index:-5;
	transition:0.5s all ease;
}
.button:hover .content:before{
	left:0;
}
.content:after{
	content:"";
	background:green;
	width:50%;
	height:100%;
	position:absolute;
	top:0;
	right:-50%;
	z-index:-5;
	transition:0.5s all ease;
}
.button:hover .content:after{
	right:0;
}